@using tutorial.Services
@inherits LayoutComponentBase
@inject HeaderService HeaderService
@inject AuthService AuthService
@implements IDisposable

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Never" Variant="DrawerVariant.Mini" Elevation="1">
        <MudNavMenu>
            <NavMenu />
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>

        <MudAppBar Elevation="0">
            <MudText>@HeaderService.Heading</MudText>
            <MudSpacer />
        </MudAppBar>

        <MudContainer MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            HeaderService.OnChange += StateHasChanged;
            AuthService.OnChange += StateHasChanged;
        }
    }

    public void Dispose()
    {
        HeaderService.OnChange -= StateHasChanged;
        AuthService.OnChange -= StateHasChanged;
    }

    private void SignOut()
    {
        AuthService.AuthState = false;
    }
}