@inherits LayoutComponentBase

@* Imports for MudBlazor *@
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* Main layout *@
<MudLayout>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Never" Variant="DrawerVariant.Mini" Elevation="1">
        <MudNavMenu>
            <NavMenu />
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        @* Header *@
        <MudAppBar Elevation="0" Color="Color.Transparent">
            <MudText>Page context</MudText>
            <MudSpacer />
            <NavLink Href="https://learn.microsoft.com/aspnet/core/" Target="_blank">docs</NavLink>
        </MudAppBar>

        @* Main body *@
        <MudContainer MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>