@page "/addticket"
@inject HeaderService HeaderService
@rendermode InteractiveServer
@using MudBlazor

<h1>hello</h1>

@code {
    protected override void OnInitialized()
    {
        HeaderService.Heading = "Add Ticket";
    }
}