@page "/counter"
@rendermode InteractiveServer
@inject HeaderService HeaderService

<PageTitle>Counter</PageTitle>

<p role="status">Current count: @currentCount</p>

<MudButton OnClick="IncrementCount">click me</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        HeaderService.Heading = "Counter";
    }
}