@page "/dashboard"
@rendermode InteractiveServer
@inject HeaderService HeaderService
@inject AuthService AuthService
@inject NavigationManager NavManager

<PageTitle>Dashboard</PageTitle>

@if (authState)
{
    <div style="
                                                                                    display: grid;
                                                                                    grid-template-columns: 0.5fr 0.5fr;
                                                                                    grid-template-rows: 1fr 1fr;
                                                                                    height: 90vh;
                                                                                    gap: 15px;        
                                                                                    padding: 15px;     
                                                                                    box-sizing: border-box;
                                                                                ">
        <div style="
                                                                        display: grid;
                                                                        grid-template-columns: 1fr 1fr;
                                                                        grid-template-rows: 1fr 1fr;
                                                                        gap: 15px; 
                                                                                    ">

            <div>
                <MudPaper Class="h-100 pa-4">
                    <MudText>User Data</MudText>
                </MudPaper>
            </div>

            <div>
                <MudPaper Class="h-100 pa-4">Global tickets</MudPaper>
            </div>

            <div>
                <MudPaper Class="h-100 pa-4">Your Tickets made</MudPaper>
            </div>

            <div>
                <MudPaper Class="h-100 pa-4">Your Tickets completed</MudPaper>
            </div>

        </div>
        <div>
            <MudPaper Class="h-100 pa-4">Add ticket</MudPaper>
        </div>
        <div>
            <MudPaper Class="h-100 pa-4">Delete ticket</MudPaper>
        </div>
        <div>
            <MudPaper Class="h-100 pa-4">Ticket board</MudPaper>
        </div>

    </div>
}
else
{
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h5">You are not logged in</MudText>
        <MudText>Please wait… navigating</MudText>
        <MudProgressLinear Indeterminate="true" Class="mt-2" />
    </MudPaper>
}

@code {
    bool authState;
    bool redirectStarted = false;

    protected override void OnInitialized()
    {
        HeaderService.Heading = "Dashboard";
        authState = AuthService.AuthState;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !authState && !redirectStarted)
        {
            redirectStarted = true;
            await Task.Delay(1000);
            NavManager.NavigateTo("/auth");
        }
    }
}