@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Data.Sqlite
@using System.Threading.Tasks

@rendermode InteractiveServer

<PageTitle>Auth</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <div class="d-flex justify-end mb-4">
                <MudButton OnClick="ToggleForm">Switch</MudButton>
            </div>

            @if (formState)
            {
                <MudForm>
                    <MudTextField T="string" Label="Username" @bind-Value="username" Required="false" />
                    <MudTextField T="string" Label="Email" @bind-Value="email" Required="false" />
                    <MudTextField T="string" Label="Password" InputType="InputType.Password" @bind-Value="password"
                        Required="false" />
                    <MudTextField T="string" Label="Confirm Password" InputType="InputType.Password"
                        @bind-Value="confirmPassword" Required="false" />

                    <div class="d-flex justify-end mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AuthHelp">
                            Register
                        </MudButton>
                    </div>
                </MudForm>
            }
            else
            {
                <MudForm>
                    <MudTextField T="string" Label="Email" @bind-Value="email" Required="false" />
                    <MudTextField T="string" Label="Password" InputType="InputType.Password" @bind-Value="password"
                        Required="false" />

                    <div class="d-flex justify-end mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AuthHelp">
                            Login
                        </MudButton>
                    </div>
                </MudForm>
            }
        </MudPaper>
    </MudItem>
</MudGrid>



